DB_HOST=127.0.0.1
DB_DRIVER=mysql
DB_PORT=3306
DB_DATABASE=headless
DB_USER_NAME=root
DB_PASSWORD=root
JWT_SECRET=kBRT6Cz+5kGf9Eo58q9q3iJvTzWy21a1Xo4kLp5n7YQ=
APP_URL=127.0.0.1
DEBUGS=1
logo_bas64=
domain_name_url = "http://127.0.0.1:8787"
add_funds_url = "http://www.posalon.com/"
sms_quick_uid=7
db_prefix=
fun_password=
game_url="http://game.groupdm.net/"

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_ServiceSid=
TWILIO_NUMBER=''
TWILIO_NUMBER2=''

MAILGUN_DOMAIN=
MAILGUN_SECRET=
MAIL_FROM_ADDRESS=''
MAIL_FROM_NAME=
MAILGUN_ENDPOINT='https://api.mailgun.net'

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_REDIRECT_URI='http://callback.groupdm.net'

ALIYUN_OSS_ACCESS_KEY_ID=''
ALIYUN_OSS_ACCESS_KEY_SECRET=''
ALIYUN_OSS_STS_ROLE_ARN=''
ALIYUN_OSS_BUCKET=''
ALIYUN_OSS_ENDPOINT=''
ALIYUN_OSS_URL_PREFIX=''

fiserv_merchid=''
fiserv_pwd=''
fiserv_user_name=''
